*{
    box-sizing: border-box;
}

.container {
    text-align: center;
    border: 2px solid yellow;

}
.bg{
    position: absolute;
    z-index: -1;
    /* height: 100vw; */
    height: 100%;
    /* width: -webkit-fill-available; */
    width: 99%;
}
h1 {
    font-family: 'Sriracha', cursive;
    font-size: 40px;
}

p {
    font-family: 'Sriracha', cursive;
    font-size: 17px;
}

form {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 17px;
    margin: 27px;
    /* background: aqua; */
}

input, textarea, button {
    padding: 8px 14px;
    font-size: 25px;
    margin: 5px;
    font-weight: 700;
    font-style: italic;
}